@import '../../style/variables';

.header-container {
  height: $headerSize;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
      flex-direction: row;
  }
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid $borderGrey;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: $headerSize;
  img {
    height: 90%;
    width: auto;
  }
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $headerSize;
  flex-grow: 1;
}

.header-right {
  display: flex;
  .navMenu-container {
    height: $headerSize;
    .navMenu-tab {
      @extend .btn;
      height: $headerSize;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      // &:hover {
      //   background-color: lighten($bgColor, 10%);
      // }
    }
  }
}


// @media screen and (max-width: $break-small)
